<h1> This is your beautiful survey. </h1>

<div id="edit_survey" contenteditable="true">
  <%= @survey.title %>
  <div id="update_button"><%= button_to "Update Survey Title" %></div>
</div>


  <% @survey.questions.each do |question| %>
  <div contenteditable="true">
    <%= question.body %><br />
  </div>
  <% end %>



